* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    background: #F3E6FC;
    font-family: 'Inter', sans-serif;
}

header  {
    padding: 2rem 0 2rem 2rem;
    background: #F3E6FC;
}

.logo{
    width: 140px;
}

.input-box {
    width: 100%;
    max-width: 65rem;
    margin: 0 0 0 auto;
    padding: 2.9rem 0rem 2rem 2rem;
    background: #F3E6FC;
}

.input-text {
    width: 29.5em;
    height: 15.2em;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    outline: 0;
    border: none;
    resize: none;
    color: #3C0663;
    background: #F3E6FC;
}

.input-text::placeholder{
    color: #3C0663;
}

.input-warning{
    color: #310055;
    font-size: 0.6em;
    padding: 4em 1em 1em 0em;
}

#warning-icon{
    font-size: 1.2em;
    vertical-align: middle;
}

.encry-button{
    background: #3C0663;
    color: #F3E6FC;
    margin: 0 1em 0 0;
    padding: 1.2em 7em;
    border: 0.1em solid #3C0663;
    border-radius: 1.3em;
    transition: 0.500s;
} 

.encry-button:hover{
    background: #5A108F;
    transition: 0.500s;
}

.decry-button{
    background: #E6C6FC;
    color: #3C0663;
    padding: 1.2em 6em;
    border: 0.1em solid #3C0663;
    border-radius: 1.3em;
    transition: 0.500s;
}

.decry-button:hover{
    background: #DCACFC;
    transition: 0.500s;
}

.output-img{
    position: absolute;
    top: 1.5rem;
    right: 0.6rem;
    width: 16.5em;
}

.tablet-img{
    display: none;
}

.mobile-img{
    display: none;
}

.output-box{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: #F3E6FC;
}

.output{
    width: 17.5em;
    height: 30.5em;
    padding: 1.7em 1.7em 0;
    border-radius: 1.3em;
    box-shadow: 0em 0.1em 0.5em 0.2em #E6C6FC;
    background: #FFFFFF;
}

.output-text{
    width: 14em;
    height: 20.7em;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    outline: 0;
    border: none;
    resize: none;
    color: #3C0663;
    background: #FFFFFF;
}

.copy-button{
    margin-top: 4.6em;
    padding: 1.2em 8em;
    border-radius: 1.3em;
    color: #3C0663;
    background: #FFFFFF;
    border: 0.1em solid #3C0663;
    transition: 0.500s;
}

.copy-button:hover{
    background: #e9c8ff;
    transition: 0.500s;
}

footer{
    width: 90%;
    max-width: 48.59px;
    padding: 0.5rem 0;
    background: #F3E6FC; 
    margin: auto;
}

.logo-github{
    width: 3em;
}

/* tablet */

@media (max-width: 1007px){

    header  {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        padding: 1.5rem 0 2rem 1rem;
    }

    .input-box {
        width: 768px;
        padding: 2em;
        margin: 0 auto;
    }

    .input-text{
        width: 100%;
        height: 500px;
    }

    .encry-button{
        width: 48.5%;
        padding: 1.2em 0;
    } 
    
    .decry-button{
        width: 48.5%;
        padding: 1.2em 0;
    }

    .output-box{
        position: static;
        width: 768px;
        margin: 1rem auto;
        padding: 0 2rem;
    }

    .output-img{
        display: none;
    }

    .mobile-img{
        display: none;
    }

    .tablet-img{
        display: inline-block;
        position: absolute;
        width: 670px;
        top: 46em;
        margin: 0 auto;
        right: 2em;
        left: 2em;
    }
    
    .output{
        width: 696px;
        height: 250px;
        padding: 1.5em;
    }

    .output-text{
        width: 100%;
        height: 145px;
    }
    
    .copy-button{
        width: 100%;
        margin-top: 0.5em;
        padding: 1em 0;
    }

}

/* -- mobile */

@media (max-width: 640px){

    header  {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        padding: 1.5rem 0 2rem 1rem;
    }

    .input-box {
        max-width: 375px;
        padding: 1em;
    }

    .input-text{
        width: 100%;
        height: 12em;
        font-size: 0.8em;
    }

    .buttons{
        width: 100%;
    }

    .encry-button{
        width: 100%;
        padding: 1.2em 0;
        margin-bottom: 1em;
    } 
    
    .decry-button{
        width: 100%;
        padding: 1.2em 0;
    }
    
    .output-img{
        display: none;
    }

    .tablet-img{
        display: none;
    }

    .mobile-img{
        display: inline-block;
        width: 339px;
        position: absolute;
        top: 29.5em;
        margin: 0 auto;
        right: 1em;
        left: 1em;
    }

    .output-box{
        position: static;
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        padding: 1em;
    }
    
    .output{
        width: 100%;
        height: 11em;
        padding: 1em; 
        margin: 1em auto;
    }

    .output-text{
        width: 100%;
        height: 7.5em;
        font-size: 0.8em;
    }
    
    .copy-button{
        width: 100%;
        padding: 1.2em  0;
        margin: 0.5em 0 0;
    }
}